<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/png" href="img/fav.png"/>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--title-->
	<title>Tipigo - Fundamentally Different</title>

	<!--favicon icon-->
	<!-- <link rel="icon" href="img/fav.png" type="image/png" sizes="16x16"> -->

	<!-- font-awesome css -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!--themify icon-->
	<link rel="stylesheet" href="css/themify-icons.css">

	<!-- magnific popup css-->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!--owl carousel -->
	<link href="css/owl.theme.default.min.css" rel="stylesheet">
	<link href="css/owl.carousel.min.css" rel="stylesheet">

	<!-- bootstrap core css -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- custom css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- responsive css -->
	<link href="css/responsive.css" rel="stylesheet">

	<script src="js/vendor/modernizr-2.8.1.min.js"></script>
	<!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shim.js"></script>
    <script src="js/vendor/respond.min.js"></script>
<![endif]-->

</head>


<body>

	<!-- Preloader -->
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<!--end preloader-->

	<div id="main" class="main-content-wraper">
		<div class="main-content-inner">

			<!--start header section-->
			<header class="header">
				<!--start navbar-->
				<div class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="row">
							<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target="#myNavbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a id="logo" class="navbar-brand page-scroll">
								<img src="img/logo_tipigo.png" alt="logo" height="35">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="navbar-collapse collapse" id="myNavbar">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a class="page-scroll" href="#hero">Home</a></li>
								<li><a class="page-scroll" href="#performance">Performance</a></li>
								<li><a class="page-scroll" href="#faq">FAQ</a></li>
								<!-- <li><a class="page-scroll" href="#testimonials">Testimonials</a></li> -->
								<li><a class="page-scroll" href="#contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--end navbar-->
		</header>
		<!--end header section-->

		<!--start hero section-->
		<section id="hero" class="section-lg section-hero section-circle">
			<!--background circle shape-->
			<div class="shape shape-style-1 shape-primary">
				<span class="circle-150"></span>
				<span class="circle-50"></span>
				<span class="circle-50"></span>
				<span class="circle-75"></span>
				<span class="circle-100"></span>
				<span class="circle-75"></span>
				<span class="circle-50"></span>
				<span class="circle-100"></span>
				<span class="circle-50"></span>
				<span class="circle-100"></span>
			</div>
			<!--background circle shape-->
			<div class="container">
				<div class="row row-vertical-align">
					<div class="col-md-8">
						<div class="hero-content-wrap">
							<div class="hero-content">
								<h1 class="capitalize">Harness the power of world leading equity analysts</h1>
								<p>Tipigo provides the first Virtual Research Team, derived from the best performing analysts the equity world has to offer in real time - all the time.</p>
								<div class="slider-action-btn">
									<a href="#performance" class="btn softo-solid-btn page-scroll">Learn more</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="video-play-button">
							<a href="https://player.vimeo.com/296616022"
							class="video video-play mfp-iframe" data-toggle="modal"
							data-target="#video-popup">
							<span class="ti-control-play"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-shape">
			<img src="img/waves-shape.svg" alt="shape image">
		</div>
	</div>
</section>

<section id="performance" class="ptb-90">
	<div class="blog-section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-heading text-center">
						<h3>Achieve Outperforming Results</h3>
						<p>Our All-Star team of analysts achieve high success rates which translate into high returns</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/it-icon.svg" alt="ITIcon">
							IT
						</p>
					</div>
					<div class="blog-post-content-area">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Opportunities Issued</th>
									<td>209</td>
									<td>609</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">81%</td>
									<td class="success-background">72.2%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>

				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/healthcare-icon.svg" alt="HealthcareIcon">
							Healthcare
						</p>
					</div>
					<div class="blog-post-content-area">
						<!-- <h3><a href="blog-details.html" target="_blank">Recent Performance</a></h3> -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row" >Opportunities Issued</th>
									<td>429</td>
									<td>1190</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">80%</td>
									<td class="success-background">81%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>

				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/financials-icon.svg" alt="FinancialsIcon">
							Financials
						</p>
					</div>
					<div class="blog-post-content-area">
						<!-- <h3><a href="blog-details.html" target="_blank">Recent Performance</a></h3> -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Opportunities Issued</th>
									<td>32</td>
									<td>188</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">81%</td>
									<td class="success-background">69%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/energy-icon.svg" alt="EnergyIcon">
							Energy
						</p>
					</div>
					<div class="blog-post-content-area">
						<!-- <h3><a href="blog-details.html" target="_blank">Recent Performance</a></h3> -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Opportunities Issued</th>
									<td>199</td>
									<td>259</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">76%</td>
									<td class="success-background">74%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>

				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/consumer-discretionary-icon.svg" alt="ConsumerDiscretionaryIcon">
							Consumer Discretionary
						</p>
					</div>
					<div class="blog-post-content-area">
						<!-- <h3><a href="blog-details.html" target="_blank">Recent Performance</a></h3> -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Opportunities Issued</th>
									<td>216</td>
									<td>811</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">77%</td>
									<td class="success-background">72%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>

				<div class="single-blog-article col-md-4">
					<div class="blog-post-img-thumb">
						<p class="sector-header-text">
							<img src="/img/sector-icons/utilities-icon.svg" alt="UtilitiesIcon">
							Utilities
						</p>
					</div>
					<div class="blog-post-content-area">
						<!-- <h3><a href="blog-details.html" target="_blank">Recent Performance</a></h3> -->
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Time period</th>
									<th scope="col">6m'</th>
									<th scope="col">36m'</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Opportunities Issued</th>
									<td>78</td>
									<td>174</td>
								</tr>
								<tr>
									<th scope="row" class="success-background">Success<button data-html="true" class="info_button" type="button" data-toggle="popover" data-placement="right" title="When we say success.." data-content="Success is measured by the ability of a specific stock our algorithm produced to outperform its sector's benchmark.<br/><br/>For example, if the success rate is 80%, it means 80% of the opportunities issued by Tipigo have outperformed their sector's benchmark."><span class="glyphicon glyphicon-info-sign" aria-hidden="true" ></span></button></th>
									<td class="success-background">82%</td>
									<td class="success-background">77%</td>
								</tr>
							</tbody>
						</table>	
						<!-- <div class="blog-footer-area">
							<a class="readmore-btn" href="blog-details.html" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
						</div> -->
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>
</section>


<section id="connect" class="faq-section ptb-90">
	<div class="faq-section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="faq-img ">
						<img src="img/connect.png" class="img-responsive" alt="faq image" width="125px">
					</div>
				</div>

				<div class="col-md-12">
					<div class="row">
						<div class="section-heading text-center">
							<h3>Financial institution?</h3>
							<p>Get quality investment opportunities in various ways</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-2 col-sm-6">
							<div class="connect-section text-center">
								<div class="connect-content">
									<span class="ti-cloud"></span>
									<h6>Web API</h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="connect-section text-center">
								<div class="connect-content">
									<span class="ti-file"></span>
									<h6>CSV</h6>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="connect-section text-center">
								<div class="connect-content">
									<span class="ti-menu"></span>
									<h6>XML</h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="connect-section text-center">
								<div class="connect-content">
									<span class="ti-microsoft"></span>
									<h6>Excel</h6>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-6">
							<div class="connect-section text-center">
								<div class="connect-content">
									<a class="page-scroll" href="#contact"><span class="ti-arrow-right"></span></a>
									<h6>Other</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--start promo section-->
<section class="promo-section bg-secondary ptb-90">
	<div class="promo-section-wrap">
		<div class="container">
			<div class="row" style="padding-bottom: 25px">
				<div>
					<h3>Why use Tipigo's Virtual Analyst Team</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="single-promo-section text-center">
						<div class="single-promo-content">
							<span class="ti-vector"></span>
							<h6>Investment opportunities powered by cutting-edge technology.</h6>
						</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-promo-section text-center">
						<div class="single-promo-content">
							<span class="ti-light-bulb"></span>
							<h6>A unique product empowering service providers.</h6>
						</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-promo-section text-center">
						<div class="single-promo-content">
							<span class="ti-cup"></span>
							<h6>Proven ability to outperform in real market conditions.</h6>
						</div>
						<div class="line"></div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-promo-section text-center">
						<div class="single-promo-content">
							<span class="ti-dropbox"></span>
							<h6>“Transparent Box” provides unique educational value and trust.</h6>
						</div>
						<div class="line"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--end promo section-->


<section id="faq" class="faq-section ptb-90">
	<div class="faq-section-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="section-heading">
						<h3>FAQ</h3>
						<p>Here are a few things you need to know.</p>
					</div>
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										<strong>How can I access</strong> the opportunities provided by Tipigo's engine?</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Tipigo provides the data via API in various formats. JSON, XML, CSV and more - are all available.
											We have come to know that our unique clients occasionally require unique solutions - so feel free to <a class="page-scroll" href="#contact">reach out to us</a> and we'll gladly provide you with one.</p>
										</div>
									</div>
								</div>
								<!-- End Single Item -->
								<!-- Start Single Item -->
								<div class="panel panel-default">
									<div class="panel-heading" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												<strong>What can I do</strong> with the opportunities provided by Tipigo's engine?
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Tipigo's engine is quite flexable and can power various use-cases. From providing quality investment ideas and leads to private investors to outperforming trade signals for money managers - be creative. <a class="page-scroll" href="#contact">We'll help.</a></p>
										</div>
									</div>
								</div>
								<!-- End Single Item -->
								<!-- Start Single Item -->
								<div class="panel panel-default">
									<div class="panel-heading" id="headingFour">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
												<strong>How frequently</strong> is the data updated?
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											<p>Our servers don't rest. We collect the data fueling our system all the time - which means the data is updated in real time, as soon as we get it.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="faq-img">
								<img src="img/bird1.png" class="img-responsive" alt="faq image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--testimonial section start-->
<!-- 			<section id="testimonials" class="testimonial-section bg-secondary ptb-90">
				<div class="testimonial-wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="section-heading text-center">
									<h3>Experts Trust Us</h3>
									<p>Providing quality opportunities in U.S equities to financial experts is not an easy task. </br>But we do it.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="owl-carousel owl-theme testimonial-slider">
									<div class="item">
										<div class="single-testimonial-item">
											<span class="blockquote-icon"><i class="fa fa-quote-left"></i></span>
											<div class="testimonial-content">
												<p>Professionally grow backward-compatible data without tactical alignments.
													Completely whiteboard cooperative schemas rather than cross-platform
													intellectual capital. Quickly benchmark wireless relationships via
												client-centered models.</p>
											</div>
											<div class="testimonial-author">
												<img src="img/testimonial-4.png" alt="">
												<div class="testimonial-author-info">
													<h6>Beatrice Evans</h6>
													<span>Digital Marketer</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="single-testimonial-item">
											<span class="blockquote-icon"><i class="fa fa-quote-left"></i></span>
											<div class="testimonial-content">
												<p>Professionally grow backward-compatible data without tactical alignments.
													Completely whiteboard cooperative schemas rather than cross-platform
													intellectual capital. Quickly benchmark wireless relationships via
												client-centered models.</p>
											</div>
											<div class="testimonial-author">
												<img src="img/testimonial-4.png" alt="">
												<div class="testimonial-author-info">
													<h6>Beatrice Evans</h6>
													<span>Digital Marketer</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="single-testimonial-item">
											<span class="blockquote-icon"><i class="fa fa-quote-left"></i></span>
											<div class="testimonial-content">
												<p>Professionally grow backward-compatible data without tactical alignments.
													Completely whiteboard cooperative schemas rather than cross-platform
													intellectual capital. Quickly benchmark wireless relationships via
												client-centered models.</p>
											</div>
											<div class="testimonial-author">
												<img src="img/testimonial-4.png" alt="">
												<div class="testimonial-author-info">
													<h6>Beatrice Evans</h6>
													<span>Digital Marketer</span>
												</div>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="single-testimonial-item">
											<span class="blockquote-icon"><i class="fa fa-quote-left"></i></span>
											<div class="testimonial-content">
												<p>Professionally grow backward-compatible data without tactical alignments.
													Completely whiteboard cooperative schemas rather than cross-platform
													intellectual capital. Quickly benchmark wireless relationships via
												client-centered models.</p>
											</div>
											<div class="testimonial-author">
												<img src="img/testimonial-4.png" alt="">
												<div class="testimonial-author-info">
													<h6>Beatrice Evans</h6>
													<span>Digital Marketer</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section> -->

			<section id="contact" class="contact-us ptb-90">
				<div class="contact-us-wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-5">
								<div class="section-heading">
									<h3>Contact us</h3>
									<p>You're more than welcome to reach out to us. Just use the contact form or pay us a
									visit for a coffee at the office.</p>
								</div>
								<div class="footer-address">
									<h6>Head Office</h6>
									<p>Haminhara 16, Herzelia, Israel</p>
									<ul>
<!-- 										<li><i class="fa fa-phone"></i> <span>Phone: +61 2 8376 6284</span></li>
-->
<li><i class="fa fa-envelope-o"></i> <span>Email : <a
	href="mailto:hello@tipigo.com">hello@tipigo.com</a></span>
</li>
</ul>
</div>
</div>
<div class="col-md-7">
	<form id="myForm" action="/submit" method="post" class="contact-us-form">
		<h6>Reach us quickly</h6>
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input name="name" type="text" class="form-control" id="name"
					placeholder="Enter name" required="required">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input name="email" type="email" class="form-control" id="email"
					placeholder="Enter email" required="required">
				</div>
			</div>
		</div>
		<div class="row">
<!-- 			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input type="number" name="phone" value="" class="form-control"
					id="phone" placeholder="Your Phone">
				</div>
			</div> -->
			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input type="text" name="company" value="" size="40"
					class="form-control" id="company" placeholder="Your Company">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<textarea name="message" id="message" class="form-control" rows="7"
					cols="25" placeholder="Message" required="required"></textarea>
				</div>
			</div>
		</div>
		<div id="form-success-message" class="alert alert-success" style="display: none;">
			<strong>Success!</strong> Thanks for contacting us, we will get back to you shortly.
		</div>
		<div class="row">
			<div class="col-sm-12 mt-20">
				<button type="submit" class="btn softo-solid-btn pull-right" id="btnContactUs">Send Message</button>
			</div>
		</div>
		
	</form>
</div>
</div>
</div>
</div>
</section>
<!--contact us section end-->

<!--start footer section-->
<footer class="footer-section bg-secondary ptb-60">
	<div class="footer-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="footer-single-col text-center">
						<img src="img/logo-color.png" alt="footer logo" height="60">
								<!-- <div class="footer-social-list">
									<ul class="list-inline">
										<li><a href="#"> <i class="fa fa-facebook"></i></a></li>
										<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
										<li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"> <i class="fa fa-youtube"></i></a></li>
									</ul>
								</div> -->
								<div class="copyright-text">
									<p>&copy; copyright Tipigo Ventures LTD. 2018</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-push-2" style="text-align: center">
					<span><br/>Please  remember  that  past  performance  may  not  be  indicative  of  future  results.  Different  types  of 
						investments involve varying degrees of risk, and there can be no assurance that the future performance 
						of any specific investment, investment strategy, or product made reference to directly or indirectly by Tipigo, will be profitable, equal any corresponding indicated historical performance level(s), 
						or be suitable for your portfolio. Due to various factors, including changing market conditions, the content 
						may no longer be reflective of current opinions or positions. Moreover, you should not assume that any 
						discussion or information contained in this website serves as the receipt of, or as a substitute 
						for,  personalized  investment  advice.  To  the  extent  that  a  reader  has  any 
						questions regarding the applicability of any specific issue discussed above to his/her individual situation, 
					he/she is encouraged to consult with the professional advisor of his/her choosing.</span>
				</div>
				
			</div>
		</footer>
		<!--end footer section-->

	</div><!--end main content inner-->
</div>
<!--end main container -->


<!--=========== all js file link ==============-->

<!-- main jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>

<script src="js/popper.min.js"></script>

<!-- bootstrap core js -->
<script src="js/bootstrap.min.js"></script>

<!-- smothscroll -->
<script src="js/jquery.easeScroll.min.js"></script>

<!--owl carousel-->
<script src="js/owl.carousel.min.js"></script>

<!-- scrolling nav -->
<script src="js/jquery.easing.min.js"></script>

<!--fullscreen background video js-->
<script src="js/jquery.mb.ytplayer.min.js"></script>

<!--typed js -->
<script src="js/typed.min.js"></script>

<!--magnific popup js-->
<script src="js/magnific-popup.min.js"></script>

<!-- custom script -->
<script src="js/scripts.js"></script>

</body>
</html>
