<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="shortcut icon" type="image/png" href="img/fav.png" />

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--title-->
	<title>Tipigo - Fundamentally Different</title>

	<meta property="og:title" content="Tipigo - Fundamentally Different" />
	<meta property="description"
		content="Tipigo provides the first Virtual Research Team, derived from the best performing analysts the equity world has to offer in real time - all the time." />
	<meta property="og:description"
		content="Tipigo provides the first Virtual Research Team, derived from the best performing analysts the equity world has to offer in real time - all the time." />
	<meta property="og:image" itemprop="image"
		content="https://s3.amazonaws.com/tipigo.prod/images/preview-tipigo.png" />
	<meta property="og:url" content="http://www.tipigo.com/" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en_GB" />
	<link itemprop="thumbnailUrl" href="https://s3.amazonaws.com/tipigo.prod/images/preview-tipigo.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="fb:app_id" content="1933109936728790" />

	<!--favicon icon-->
	<!-- <link rel="icon" href="img/fav.png" type="image/png" sizes="16x16"> -->

	<!-- font-awesome css -->
	<link rel="stylesheet" href="./css/font-awesome.min.css">

	<!--themify icon-->
	<link rel="stylesheet" href="css/themify-icons.css">

	<!-- magnific popup css-->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!--owl carousel -->
	<link href="css/owl.theme.default.min.css" rel="stylesheet">
	<link href="css/owl.carousel.min.css" rel="stylesheet">

	<!-- bootstrap core css -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- custom css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- responsive css -->
	<link href="css/responsive.css" rel="stylesheet">

	<script src="js/vendor/modernizr-2.8.1.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render=6Ld-Zp0UAAAAAP9KDUQEZUVx4_QGGkc-56sFoKfq"></script>

</head>


<body>

	<!-- Preloader -->
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<!--end preloader-->

	<div id="main" class="main-content-wraper">
		<div class="main-content-inner">

			<!--start header section-->
			<header class="header">
				<!--start navbar-->
				<div class="navbar navbar-default">
					<div class="container">
						<div class="row">
							<div class="navbar-header page-scroll">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#myNavbar">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a id="logo" class="navbar-brand page-scroll">
									<img src="img/logo tipigo1.png" alt="logo" height="35" ,>
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="navbar-collapse collapse" id="myNavbar">
								<ul class="nav navbar-nav navbar-right">
									<li class="active"><a class="page-scroll" href="#hero">Home</a></li>
									<li><a class="page-scroll" href="#performance">Performance</a></li>
									<li><a class="page-scroll" href="#why">Why Tipigo</a></li>
									<li><a class="page-scroll" href="#how">How it works</a></li>
									<!-- <li><a class="page-scroll" href="#testimonials">Testimonials</a></li> -->
									<li><a class="page-scroll" href="#contact">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--end navbar-->
			</header>
			<!--end header section-->

			<!--start hero section-->
			<section id="hero" class="section-lg section-hero section-circle">
				<!--background circle shape-->
				<!-- <div class="shape shape-style-1 shape-primary">
				<span class="floating circle-150"></span>
				<span class="floating circle-50"></span>
				<span class="floating circle-50"></span>
				<span class="floating circle-75"></span>
				<span class="floating circle-100"></span>
				<span class="floating circle-75"></span>
				<span class="floating circle-50"></span>
				<span class="floating circle-100"></span>
				<span class="floating circle-50"></span>
				<span class="floating circle-100"></span>
			</div> -->
				<!--background circle shape-->
				<div class="container">
					<div class="row row-vertical-align">
						<div class="col-md-6">
							<div class="hero-content-wrap">
								<div class="hero-content">
									<h1 class="pageHeader">Alpha as a Service</h1>
									<p>Tipigo harnesses the power of professional equity analysts, synthesizing big data
										and human expertise to build tailored stock portfolios that have been proven to
										outperform the market.</p>
									<!-- <div class="slider-action-btn">
										<a href="#performance" class="btn softo-solid-btn page-scroll learn-more">Learn
											more</a>
									</div> -->

									<div class="video-play-button">
										<a href="https://player.vimeo.com/296616022" class="video video-play mfp-iframe"
											data-toggle="modal" data-target="#video-popup">
											<span class="ti-control-play"></span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">


							<div class="faq-img">
								<img src="img/bird1.png" class="img-responsive" alt="faq image">
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="section-shape">
			<img src="img/waves-shape.svg" alt="shape image">
		</div> -->
		</div>
		</section>

		<section id="infoSection" class="ptb-90">
			<div class="blog-section-wrap">
				<div class="container">
					<p>Tipigo’s data-driven alpha engine harnesses the power of world leading, professional equity
						analysts, to build outperforming stock portfolios.</p>
				</div>
			</div>
		</section>

		<section id="performance" class="ptb-90">
			<div class="blog-section-wrap">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">
								<!-- <h3>Achieve Outperforming Results Across Sectors</h3> -->
								<h3>Proven Track Record</h3>
								<p>Tipigo's unique algorithm is designed to pinpoint U.S. equities for smart value
									investments</p>
							</div>
						</div>
					</div>

					<div class="faq-img">
						<img src="img/techperformance.png" class="img-responsive" alt="faq image">
					</div>

					<!-- <div class="row">
						<div class="col-md-12">
							<div>
								<h2>3-years past performance</h2>
								<p>01/01/2016 - 12/31/2018</p>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="single-blog-article col-md-6">

							<table class="table tg">
								<tr>
									<th class="tg-c3ow" colspan="4"><img src="/img/sector-icons/it-icon.svg"
											alt="IT Icon">
										Information Technology</th>
								</tr>
								<tr>
									<td class="tg-laxj"></td>
									<td class="tg-laxj">XLK<br></td>
									<td class="tg-laxj">QQQ<br></td>
									<td class="tg-laxj success-background">Tipigo<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Return<br></td>
									<td class="tg-uys7 count">+45%<br></td>
									<td class="tg-uys7 count">+39%<br></td>
									<td class="tg-uys7 success-background count">+124%</td>
								</tr>
								<tr>
									<td class="tg-laxj">Sharpe Ratio<br></td>
									<td class="tg-laxj count">1.22<br></td>
									<td class="tg-laxj count">1.18<br></td>
									<td class="tg-laxj success-background count">1.69<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Standard Deviation<br></td>
									<td class="tg-uys7 count">17.26%<br></td>
									<td class="tg-uys7 count">17.07%<br></td>
									<td class="tg-uys7 success-background count">22.16%<br></td>
								</tr>
							</table>
						</div>

						<div class="single-blog-article col-md-6">
							<table class="table tg">
								<tr>
									<th class="tg-c3ow" colspan="4"><img src="/img/sector-icons/healthcare-icon.svg"
											alt="HC Icon">
										Healthcare</th>
								</tr>
								<tr>
									<td class="tg-laxj"></td>
									<td class="tg-laxj">XLV<br></td>
									<td class="tg-laxj  success-background">Tipigo<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Return<br></td>
									<td class="tg-uys7">+16%<br></td>
									<td class="tg-uys7 success-background">+103.5%</td>
								</tr>
								<tr>
									<td class="tg-laxj">Sharpe Ratio<br></td>
									<td class="tg-laxj">0.89<br></td>
									<td class="tg-laxj success-background">2.88<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Standard Deviation<br></td>
									<td class="tg-uys7">14.09%<br></td>
									<td class="tg-uys7 success-background">35%<br></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="single-blog-article col-md-6">
							<table class="table tg">
								<tr>
									<th class="tg-c3ow" colspan="4"><img
											src="/img/sector-icons/consumer-staples-icon.svg" alt="Cons Icon">
										Consumer Staples</th>
								</tr>
								<tr>
									<td class="tg-laxj"></td>
									<td class="tg-laxj">XLP<br></td>
									<td class="tg-laxj  success-background">Tipigo<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Return<br></td>
									<td class="tg-uys7">+10.4%<br></td>
									<td class="tg-uys7 success-background">+68.3%</td>
								</tr>
								<tr>
									<td class="tg-laxj">Sharpe Ratio<br></td>
									<td class="tg-laxj">0.33<br></td>
									<td class="tg-laxj success-background">1.58<br></td>
								</tr>
								<tr>
									<td class="tg-uys7">Standard Deviation<br></td>
									<td class="tg-uys7">11.62%<br></td>
									<td class="tg-uys7 success-background">12.65%<br></td>
								</tr>
							</table>
						</div>
					</div> -->
				</div>
			</div>
	</div>
	</section>


	<section id="why" class="promo-section bg-secondary ptb-90">
		<div class="promo-section-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-heading">
							<!-- <h3>Achieve Outperforming Results Across Sectors</h3> -->
							<h3>Why Tipigo</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="single-promo-section text-center">
								<div class="single-promo-content">
									<span class="ti-ruler-alt"></span>
									<h4>Tailored</h4>
									<h6>Your portfolio is in your hands. You determine the portfolio's profile: Sector,
										industry, risk and more.</h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-promo-section text-center">
								<div class="single-promo-content">
									<span class="ti-light-bulb"></span>
									<h4>Reliable</h4>
									<h6>Portfolios based on a select team of top analysts worldwide.</h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-promo-section text-center">
								<div class="single-promo-content">
									<span class="ti-wand"></span>
									<h4>Effortless</h4>
									<h6>Get up and running with Tipigo instantly. Once you define your investment
										profile, we take care of the rest.</h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="single-promo-section text-center">
								<div class="single-promo-content">
									<span class="ti-dropbox"></span>
									<h4>Transparent</h4>
									<h6>No more black box tech solutions here. Tipigo provides transparency </h6>
								</div>
								<div class="line"></div>
							</div>
						</div>
					</div>

					<!-- <div class="col-md-5">
						<div class="faq-img">
							<img src="img/bird1.png" class="img-responsive" alt="faq image">
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!--end promo section-->

	<section id="how" class="promo-section bg-secondary ptb-90">
		<div class="promo-section-wrap">
			<div class="container timelineContainer">

				<div class="row">
					<div class="col-md-12">
						<div class="section-heading">
							<!-- <h3>Achieve Outperforming Results Across Sectors</h3> -->
							<h3 class="infographicTextColor">How it works</h3>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="timeline">
						<div class="tcontainer left">
							<div class="tcontent">
								<div class="row">
									<div class="col-md-2">
										<h1 class="infographicTextColor">01</h1>
									</div>
									<div class="col-md-10">
										<h2 class="infographicHeader white">Understanding your goals</h2>
										<p class="infographicText white">Not all investments are the same. Our first
											step is to understand your
											investment profile.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tcontainer right">
							<div class="tcontent">
								<div class="row">
									<div class="col-md-2">
										<h1 class="infographicTextColor">02</h1>
									</div>
									<div class="col-md-10">
										<h2 class="infographicHeader white">Tailored solution</h2>
										<p class="infographicText white">Once we understand your investment profile,
											we'll digest and provide a custom
											solution along with a simulation and backtest of expected results.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tcontainer left">
							<div class="tcontent">
								<div class="row">
									<div class="col-md-2">
										<h1 class="infographicTextColor">03</h1>
									</div>
									<div class="col-md-10">
										<h2 class="infographicHeader white"> Launch</h2>
										<p class="infographicText white">The next step is implementing the solution in
											your particular financial
											structure - Mutual Fund, Hedge Fund, In-house investment portfolio etc.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="tcontainer right">
							<div class="tcontent">
								<div class="row">
									<div class="col-md-2">
										<h1 class="infographicTextColor">04</h1>
									</div>
									<div class="col-md-10">
										<h2 class="infographicHeader white">Ongoing analysis and monitoring</h2>
										<p class="infographicText white">We deliver real-time updates on your positions
											in order to keep your
											investment portfolio optimal and up-to-date with current market conditions.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<hr>
	<section id="contact" class="contact-us ptb-90">
		<div class="contact-us-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="section-heading">
							<h3>Contact us</h3>
							<p>You're more than welcome to reach out to us. Just use the contact form or email us
								directly.</p>
						</div>
						<div class="footer-address">
							<h6>Head Office</h6>
							<p>Haminhara 16, Herzelia, Israel</p>
							<ul>

								<li><i class="fa fa-envelope-o"></i> <span>Email : <a
											href="mailto:contact@tipigo.com">contact@tipigo.com</a></span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-7">
						<form id="myForm" action="/submit" method="post" class="contact-us-form">
							<h6>Reach us quickly</h6>
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input name="name" type="text" class="form-control" id="name"
											placeholder="Enter name" required="required">
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input name="email" type="email" class="form-control" id="email"
											placeholder="Enter email" required="required">
									</div>
								</div>
							</div>
							<div class="row">
								<!-- 			<div class="col-sm-6 col-xs-12">
				<div class="form-group">
					<input type="number" name="phone" value="" class="form-control"
					id="phone" placeholder="Your Phone">
				</div>
			</div> -->
								<div class="col-sm-6 col-xs-12">
									<div class="form-group">
										<input type="text" name="company" value="" size="40" class="form-control"
											id="company" placeholder="Your Company">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="7" cols="25"
											placeholder="Message" required="required"></textarea>
									</div>
								</div>
							</div>
							<div id="form-success-message" class="alert alert-success" style="display: none;">
								<strong>Success!</strong> Thanks for contacting us, we will get back to you shortly.
							</div>
							<!-- <div class="g-recaptcha form-group" data-sitekey="6LftaYIUAAAAAKaDYZznUGWUS6S9URJ6-gb2PKOh"></div> -->
							<div class="row">
								<div class="col-sm-12 mt-20">
									<input id="g-recaptcha-response" type="text" name="g_recaptcha_token" value=""
										style="width: 0px; height: 0px">
								</div>
								<button type="submit" class="btn softo-solid-btn pull-right" id="btnContactUs">Send
									Message</button>
								<script>
									grecaptcha.ready(function () {
										grecaptcha.execute('6Ld-Zp0UAAAAAP9KDUQEZUVx4_QGGkc-56sFoKfq', {
											action: 'homepage'
										}).then(function (token) {
											var captcha_input = document.getElementById('g-recaptcha-response')
											console.log(token)
											captcha_input.setAttribute('value', token);
										});
									});
								</script>
							</div>
					</div>

					</form>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--contact us section end-->

	<!--start footer section-->
	<footer class="footer-section bg-secondary ptb-60">
		<div class="footer-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="footer-single-col text-center">
							<img src="img/logo tipigo1.png" alt="footer logo" height="35">
							<!-- <div class="footer-social-list">
									<ul class="list-inline">
										<li><a href="#"> <i class="fa fa-facebook"></i></a></li>
										<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
										<li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"> <i class="fa fa-youtube"></i></a></li>
									</ul>
								</div> -->
							<div class="copyright-text">
								<p>&copy; copyright Tipigo Ventures LTD. 2018</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-push-2" style="text-align: center">
				<span id="disclamer"><br />Please remember that past performance may not be indicative of future
					results. Different
					types of
					investments involve varying degrees of risk, and there can be no assurance that the future
					performance
					of any specific investment, investment strategy, or product made reference to directly or indirectly
					by Tipigo, will be profitable, equal any corresponding indicated historical performance level(s),
					or be suitable for your portfolio. Due to various factors, including changing market conditions, the
					content
					may no longer be reflective of current opinions or positions. Moreover, you should not assume that
					any
					discussion or information contained in this website serves as the receipt of, or as a substitute
					for, personalized investment advice. To the extent that a reader has any
					questions regarding the applicability of any specific issue discussed above to his/her individual
					situation,
					he/she is encouraged to consult with the professional advisor of his/her choosing.</span>
			</div>

		</div>
	</footer>
	<!--end footer section-->

	</div>
	<!--end main content inner-->
	</div>
	<!--end main container -->


	<!--=========== all js file link ==============-->

	<!-- main jQuery -->
	<script src="js/jquery-3.3.1.min.js"></script>

	<script src="js/popper.min.js"></script>

	<!-- bootstrap core js -->
	<script src="js/bootstrap.min.js"></script>

	<!-- smothscroll -->
	<script src="js/jquery.easeScroll.min.js"></script>

	<!--owl carousel-->
	<script src="js/owl.carousel.min.js"></script>

	<!-- scrolling nav -->
	<script src="js/jquery.easing.min.js"></script>

	<!--fullscreen background video js-->
	<script src="js/jquery.mb.ytplayer.min.js"></script>

	<!--typed js -->
	<script src="js/typed.min.js"></script>

	<!--magnific popup js-->
	<script src="js/magnific-popup.min.js"></script>

	<!-- custom script -->
	<script src="js/scripts.js"></script>

</body>

</html>