<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<link rel="shortcut icon" type="image/png" href="img/fav.png"/>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--title-->
	<title>Tipigo - Fundamentally Different</title>

	<meta property="og:title" content="Check out this opportunity on {{symbol}} by {{analyst}}" />
	<meta property="description" content="Benzinga Analyst Ideas app powered by Tipigo's engine provides real time opportunities from the best performing equity research analysts" />
	<meta property="og:description" content="Benzinga Analyst Ideas app powered by Tipigo's engine provides real time opportunities from the best performing equity research analysts" />
	<meta property="og:image" itemprop="image" content="https://s3.amazonaws.com/tipigo.prod/images/bull-bear-{{bullbear}}.png" />
	<meta property="og:url" content="http://www.tipigo.com/opportunity" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="en_GB" />
	<link itemprop="thumbnailUrl" href="https://s3.amazonaws.com/tipigo.prod/images/bull-bear-{{bullbear}}.png"/>
	<meta property="og:image:type" content="image/png"/>
	<meta property="fb:app_id" content="1933109936728790" />

	<!--favicon icon-->
	<!-- <link rel="icon" href="img/fav.png" type="image/png" sizes="16x16"> -->

	<!-- font-awesome css -->
	<link rel="stylesheet" href="./css/font-awesome.min.css">

	<!--themify icon-->
	<link rel="stylesheet" href="css/themify-icons.css">

	<!-- magnific popup css-->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!--owl carousel -->
	<link href="css/owl.theme.default.min.css" rel="stylesheet">
	<link href="css/owl.carousel.min.css" rel="stylesheet">

	<!-- bootstrap core css -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- custom css -->
	<link href="css/style.css" rel="stylesheet">

	<!-- responsive css -->
	<link href="css/responsive.css" rel="stylesheet">

	<script src="js/vendor/modernizr-2.8.1.min.js"></script>
	<!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shim.js"></script>
    <script src="js/vendor/respond.min.js"></script>
<![endif]-->

</head>


<body>
	<!-- <button id="bull-bear" type="button" class="btn btn-primary">Change bullish-bearish</button> -->

	<!-- Preloader -->
	<div id="preloader">
		<div id="loader"></div>
	</div>
	<!--end preloader-->

	<div id="main" class="main-content-wraper">
		<div class="main-content-inner">
			<section id="hero" class="section-lg section-hero section-circle">
				<!--background circle shape-->
<!-- 			<div class="shape shape-style-1 shape-primary">
				<span class="circle-150"></span>
				<span class="circle-50"></span>
				<span class="circle-50"></span>
				<span class="circle-75"></span>
				<span class="circle-100"></span>
				<span class="circle-75"></span>
				<span class="circle-50"></span>
				<span class="circle-100"></span>
				<span class="circle-50"></span>
				<span class="circle-100"></span>
			</div> -->
			<!--background circle shape-->

			<div class="container">
				<div class="row row-vertical-align">
					<div class="col-md-6">
						<div class="hero-content-wrap">
							<div class="hero-content">
								<p class="gray-text">Shared opportunity by Benzinga Analyst Ideas:</p>
								<h1 class="gray-text">{{analyst}} is <strong id="tmp-opportunity" class="{{bullbear}}">{{bullbear_text}}</strong> on {{symbol}} (upside: {{upside}}%)</h1>
								<p class="gray-text">{{analyst}} has {{success_percentage}}% success in the last {{success_month_back}} {{month}} in similar {{sector}} stocks.</p>
								<div id="download-section">
									<h4>Stay ahead of the market</h4>
									<p class="gray-text"><span class="glyphicon  glyphicon-menu-right" aria-hidden="true"></span>
									Premium investment opportunities from the best equity analysts.</p>
									<p class="gray-text"><span class="glyphicon  glyphicon-menu-right" aria-hidden="true"></span>
									Real time news and updates by Benzinga.</p>
									<p class="gray-text"><span class="glyphicon  glyphicon-menu-right" aria-hidden="true"></span>
									Manage your portfolio and trade with your broker.</p>

									<div id="download-buttons">
										<div class="slider-action-btn-opp">
											<a href="https://go.onelink.me/app/c93a05e3" class="btn softo-solid-btn"><i class="fa fa-apple"></i> Appstore</a>
											<a href="https://go.onelink.me/app/b2bbdfd1" class="btn softo-solid-btn"><i class="fa fa-android"></i> Google Play</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="hero-image bottom-absulate">
							<img src="img/Benzinga_analyst_ideas_app.png" alt="hero-image" class="img-responsive" style="height: 600px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!--start promo section-->

	<footer class="footer-section bg-secondary ptb-60">
		<div class="footer-wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="footer-single-col text-center">
							<img src="img/logo-color.png" alt="footer logo" height="60">
								<!-- <div class="footer-social-list">
									<ul class="list-inline">
										<li><a href="#"> <i class="fa fa-facebook"></i></a></li>
										<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
										<li><a href="#"> <i class="fa fa-linkedin"></i></a></li>
										<li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"> <i class="fa fa-youtube"></i></a></li>
									</ul>
								</div> -->
								<div class="copyright-text">
									<p>&copy; copyright Tipigo Ventures LTD. 2018</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-push-2" style="text-align: center">
					<span><br/>Please  remember  that  past  performance  may  not  be  indicative  of  future  results.  Different  types  of 
						investments involve varying degrees of risk, and there can be no assurance that the future performance 
						of any specific investment, investment strategy, or product made reference to directly or indirectly by Tipigo, will be profitable, equal any corresponding indicated historical performance level(s), 
						or be suitable for your portfolio. Due to various factors, including changing market conditions, the content 
						may no longer be reflective of current opinions or positions. Moreover, you should not assume that any 
						discussion or information contained in this website serves as the receipt of, or as a substitute 
						for,  personalized  investment  advice.  To  the  extent  that  a  reader  has  any 
						questions regarding the applicability of any specific issue discussed above to his/her individual situation, 
					he/she is encouraged to consult with the professional advisor of his/her choosing.</span>
				</div>
				
			</div>
		</footer>
		<!--end footer section-->

	</div><!--end main content inner-->

	<!-- extra data from server to js -->
	<div id="additional-data" style="display: none;"
		symbol="{{symbol}}"
	></div>
</div>
<!--end main container -->


<!--=========== all js file link ==============-->

<!-- main jQuery -->
<script src="js/jquery-3.3.1.min.js"></script>

<script src="js/popper.min.js"></script>

<!-- bootstrap core js -->
<script src="js/bootstrap.min.js"></script>

<!-- smothscroll -->
<script src="js/jquery.easeScroll.min.js"></script>

<!--owl carousel-->
<script src="js/owl.carousel.min.js"></script>

<!-- scrolling nav -->
<script src="js/jquery.easing.min.js"></script>

<!--fullscreen background video js-->
<script src="js/jquery.mb.ytplayer.min.js"></script>

<!--typed js -->
<script src="js/typed.min.js"></script>

<!--magnific popup js-->
<script src="js/magnific-popup.min.js"></script>

<!-- custom script -->
<script src="js/scripts.js"></script>
<!-- alone addition to opportunity page -->
<script src="js/opportunity.js"></script>

</body>
</html>
